/* .overLay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgb(0, 0, 1),rgb(0, 0, 1)
      );  
        top: 0;

} */
.imagecontainer {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: 100% 100%;
    background-position: center center;
    /* background-image:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),;
    background-blend-mode: overlay; */




}

.imagesdetails {
    width: 45%;
    height: 52%;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.4);






}

.imagesdetails img {
    width: 200px;
    height: 260px;


}

.cardsdetails {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.percent {
    width: 50px;
    height: 50px;
    border: 3px green solid;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.relase {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


.castcontanier {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plot {
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.plot hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cast {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.cast hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.castdetails {
    width: 80%;
    height: 16%;
    display: flex;
    align-items: center;
    margin: 0.3rem 0rem;
    color: #abb2ca;
}

.castdetails img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:  0rem 1.2rem;
}

.castbtn{
    width: 30%;
    margin: 1rem 0.2rem ;
    font-size: 1.1rem;
    background: transparent;
    color: #abb2ca;
    border: none;
    

}